{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	<article>
	{# Set parameters for prev/next elements list #}
	{% set params = craft.entries.section('news').order('title asc') %}

	{# Get the prev/next elements #}
	{% set prevEntry = entry.getPrev(params) %}
	{% set nextEntry = entry.getNext(params) %}

	{# And make sure to only output the links if the element exists #}
	{% if prevEntry %}<a class="button__previous" href="{{ prevEntry.url }}"><div class="arrow-left"></div></a><a class="text__previous" href="{{ prevEntry.url }}">Previous</a>{% endif %}
	{% if nextEntry %}<a class="button__next" href="{{ nextEntry.url }}"><div class="arrow-right"></div></a><a class="text__next" href="{{ nextEntry.url }}">Next</a>{% endif %}
		<div class="newsContainer">
			<div class="imageWrapper__news">
				<img class="newsImage" src="{{ entry.newsImage.first().getUrl('newsPage') }}" alt="{{ image.title }}">
			</div>
			<div class="newsText"><h1>{{ entry.title }}</h1><br>
				<p>Added {{ entry.postDate.format('F d, Y') }}</p></h2>
				<p>{{ entry.body }}</p>
			</div><!-- /.newsText -->
		</div>


	</article>
{% endblock %}
