{#
 # Beers index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/beers is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Beers" %}

{% block content %}
	<h2>Beers</h2>
	<ul class="beerList">
		{% for entry in craft.entries.section('beers').find() %}
			<li class="hvr-sweep-to-bottom">
				<div>
					<a href="{{ entry.url }}" ><img class="beerImage" src="{{ entry.beerImage.first().getUrl('newsPage') }}" alt="{{ image.title }}"></a>
					<a href="{{ entry.url }}"><h3>{{ entry.title }}</h3>
				
								
				
					</a>
				</div>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
