{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="stylesheet" href="https://bornbrewers.herokuapp.com/assets/css/style3.css" type="text/css"/> 
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Rosario:700i" rel="stylesheet">
	<script src="https://bornbrewers.herokuapp.com/assets/js/jquery-3.2.1.js"> </script>
</head>

<body>
	<div class="container" >
		<div class="menu">
			<header class="header">
				<div class="nav-mobile">
					<a id="nav-toggle" href="#!"><span></span></a>
				</div>
				<section class="navigation">
					<div class="nav-container">
						<div id="brand" class="brand">
							<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>
						</div>
						<nav>
							<ul class="nav-list">
								<li><a href="{{ url('news') }}" {% if craft.request.firstSegment == 'news' %}class="active"{% endif %}>News</a></li>
								<li><a href="{{ url('beers') }}">Beers</a></li>
							</ul>
						</nav>
					</div>
				</section>
			</header> <!-- /.header -->
		</div>
		<main class="content" role="main" class="animatedParent">
		
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>	<!-- /.main-content -->

		<footer class="footer">
			Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved  •  Built with <a href="http://craftcms.com">Craft</a>
		</footer> <!-- /.footer -->
	</div> <!-- /.container -->
</body>
<script>
var div = document.getElementById('brand');
window.addEventListener('scroll', function () {
  document.body.classList[
    window.scrollY > 20 ? 'add': 'remove'
  ]('scrolled');
});
$('#nav-toggle').on('click', function() {
  this.classList.toggle('active');
});
$('#nav-toggle').click(function() {
  $('nav ul').toggle();
});
</script>
</html>